  body {
    padding: 30px;
  }
  header {
    background: lightblue;
  }
  section {
    background: lightgreen;
  }
  article {
    background: white;
    margin: 0 0 1rem 0;
  }
  aside {
    background: pink;
  }
  header, article, section, .module {
    padding: 1rem;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  header {
      grid-column-start: 1;
      grid-column-end: 3;
  }
  section {
      grid-column-start: 1;
      grid-column-end: 1;
  }
  aside {
      grid-column-start: 2;
      grid-column-end: 2;
  }
